mainmenu "hq_platform"

menu "Platform Selection"

choice
  prompt "Target platform"
  default HQ_PLATFORM_POSIX

config HQ_PLATFORM_POSIX
  bool "Build POSIX backend"

config HQ_PLATFORM_ESP
  bool "Build ESP backend"

endchoice

endmenu

menu "OSAL"

config OSAL_LOG_LEVEL
  int "OSAL log level"
  default 3
  range 0 3
  help
    0 = DEBUG
    1 = INFO
    2 = WARNING
    3 = ERROR

endmenu

menu "Mongoose"

config MONGOOSE_LOG_LEVEL
  int "Mongoose log level"
  default 2
  range 0 4
  help
    0 = MG_LL_NONE
    1 = MG_LL_ERROR
    2 = MG_LL_INFO
    3 = MG_LL_DEBUG
    4 = MG_LL_VERBOSE

endmenu
