CONFIG_HQ_PLATFORM_POSIX=n
CONFIG_HQ_PLATFORM_ESP=y
CONFIG_CMD_ESP_OUTPUT_CONSOLE=y
# CONFIG_CMD_ESP_OUTPUT_UART is not set
CONFIG_CMD_INPUT_TASK_STACK_SIZE=4096
CONFIG_CMD_INPUT_TASK_PRIORITY=5
CONFIG_OSAL_LOG_LEVEL=0
CONFIG_MONGOOSE_LOG_LEVEL=2
CONFIG_CMD_RX_BUFFER_SIZE=256
CONFIG_CMD_BUFFER_SIZE=256
CONFIG_CMD_HISTORY_BUFFER_SIZE=512
CONFIG_CMD_MAX_BINDING_COUNT=32
CONFIG_CMD_ENABLE_AUTOCOMPLETE=y
CONFIG_CMD_INVITATION="hq> "
CONFIG_LITTLEFS_MALLOC_STRATEGY_DEFAULT=y
