CONFIG_HQ_PLATFORM_POSIX=y
CONFIG_HQ_PLATFORM_ESP=n
CONFIG_OSAL_LOG_LEVEL=0
CONFIG_MONGOOSE_LOG_LEVEL=2
CONFIG_CMD_RX_BUFFER_SIZE=256
CONFIG_CMD_BUFFER_SIZE=256
CONFIG_CMD_HISTORY_BUFFER_SIZE=512
CONFIG_CMD_MAX_BINDING_COUNT=32
CONFIG_CMD_ENABLE_AUTOCOMPLETE=y
CONFIG_CMD_INVITATION="hq> "
